    <h1>Results</h1>

    <!-- <p>${{ dollars }} is equivalent to {{ result }} {{ currency }}</p> -->

    <p>{{dollars}} {{currency2}} is equivalent to {{result2}} {{currency}}</p>

    <!-- <p> {{dollars}} {{ currency2 }} is equivalent to {{ result }} {{ currency }}</p> -->
